<!DOCTYPE html>
<html>
<head>
  </head>
  <body>
    <form action="/community/article/<%=posts.id%>?_method=PUT" method="post">
      <p><input type="text" name="title" value=<%=posts.title%> placeholder="title"></p>
      <p>
        <textarea name="content" placeholder="content"><%=posts.content%></textarea>
      </p>
      <p>
        <input type="submit">
      </p>
    </form>
    </body>
    </html>
