<!DOCTYPE html>
<html>
<head>
  </head>
  <body>
    <form action="/community/create_article" method="post">
      <p><input type="text" name="title" placeholder="title"></p>
      <p>
        <textarea name="content" placeholder="content"></textarea>
      </p>
      <p>
        <input type="submit">
      </p>
    </form>
    </body>
    </html>
