<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/common/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/common/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/common/assets/libs/css/style.css">
    <link rel="stylesheet" href="/common/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    </style>
</head>
<script type="text/javascript">
  message = '<%=messages%>';
  if(message)
window.alert('!!!!!!!!!! ERROR : '+message+' !!!!!!!!!!!!!');
</script>
<body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center" style="padding-bottom: 10px;"><a href="./"><img class="logo-img" src="./common/assets/images/logo.png" alt="logo"></a><span class="splash-description">Battery in Block</span></div>
            <div class="card-body">
              
                   
                    
                
                <form class="form" name = "frm" >
                  
     
                  
                  <div class="form-group">
                    <input class="form-control form-control-lg" name="userid" type="text" placeholder="Username" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <input class="form-control form-control-lg" name="password" type="password" placeholder="Password">
                  </div>
              
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value='Sign in'  onclick="javascript : form.action = '/',form.method = 'post'">
                </form>
            </div>
            <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="/signup" class="footer-link">Create An Account</a></div>
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link">Forgot Password</a>
                </div>
            </div>
        </div>
    </div>
  
    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <script src="/common/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="/common/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script>
        function signin_click()
        {
            if(document.getElementsByName("customRadio")[0].checked ==true)
            {
                document.frm.action = "./seller/index.html"
                document.frm.submit();
            }
            else
            {
                document.frm.action = "./buyer/index.html"
                document.frm.submit();
            }

        }
    </script>
</body>
 
</html>