<!<!DOCTYPE html>
<html>

<head>
</head>
<style>
  div{
    text-align : center;
    margin-top : 100px;
}
.center2{
    display : block;
  margin: 100px auto;
  width :300px;
}
.blinking{
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

</style>
<script type="text/javascript">
  message = '<%=messages%>';
  if(message)
window.alert('!!!!!!!!!! ERROR : '+message+' !!!!!!!!!!!!!');
</script>
<body>

<div>
  <marquee  > ADMIN PAGE :)  </marquee>
            <img src="./img/blocks.png" width='200px'>
  <h2 class="image blinking"><font size="6" color="FF5733">Welcome <%= user.nickname %></font></h2>
  <a href="/signout">Sign out</a>
  <a href="/community/1">community</a>
  <a href="/members/1">members</a>
<h4>유저 수 : <%=userCount%>  &nbsp; 게시물 수 : <%=articleCount%>
    </div>

</body>

</html>
