<!DOCTYPE html>
<html>
<head>

  </head>

  <body>

    <script>
    message = '<%=messages%>';
    if(message)
  window.alert('!!!!!!!!!! ERROR : '+message+' !!!!!!!!!!!!!');

    function redirectPage() {

          window.location = "/";
       };</script>
    <form action = "/signup" method="post">
      <div>
        <label>USER ID :&nbsp; </label>
        <input type="text" name="userid">
        </div>
        <div>
          <label>Name&nbsp;&nbsp; : &nbsp;</label>
          <input type="text" name="nickname">
          </div>
        <div>
          <label>Password : </label>
          <input type="password" name="password">
          </div>

          <input type="radio" name="flag" value=true>ADMIN
          <input type="radio" name="flag" value=false>USER
          <div>
            <input type="submit" value="create">

  </form>

            </div>
            <div><button id="myButton" class="float-left submit-button" onclick="redirectPage()">back</button>
            </div>
            </body>

            </html>
